<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407107795738-aiq2riki5oqsne92gitutc6h48buvip9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407107795738-aiq2riki5oqsne92gitutc6h48buvip9</string>
	<key>API_KEY</key>
	<string>AIzaSyD2-wGrn3610EOfPwxKFdc6P8FIp25qf-g</string>
	<key>GCM_SENDER_ID</key>
	<string>407107795738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malshahansini.foodsnaps</string>
	<key>PROJECT_ID</key>
	<string>foodsnaps-1d9f1</string>
	<key>STORAGE_BUCKET</key>
	<string>foodsnaps-1d9f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407107795738:ios:8e89753b7ad7eac934caa3</string>
</dict>
</plist>